#wrapwrap {
    .products_header { font-size: 1rem; }

    // Breadcrumb
    .breadcrumb-item + .breadcrumb-item::before { font-family: "FontAwesome" !important; }

    // Sort by button
    .products_header .o_sortby_dropdown {
        border: 1px solid o-color('o-color-1');

        .btn-light {
            border: 0;
            background-color: transparent;
        }
    }
}
