# Odoo
*.log
*.conf
*.ini
filestore/
sessions/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.python-version
.ruff_cache/
.mypy_cache/

# Node / JS
node_modules/
npm-debug.log*
.eslintcache

# Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db


# Copier generated configs
.copier-answers.yml
.eslintrc.yml
.pre-commit-config.yaml
.prettierrc.cjs
.pylintrc-odoo
.ruff.toml
.stylelintrc.yml
package.json

